* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.logo_box {
    background: white;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.logo_box h2 {
    margin-bottom: 50px;
}

.Mylogo {
    width: 30px;
    margin-bottom: 20px;
}

.googlelogo {
    padding: 5px;
}

.btn {
    padding: 8px;
    width: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 10px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
    /* color: grey; */
    cursor: pointer;
}

.next_btn {
    width: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}

span {
    display: block;
    width: 40px;
    margin: auto;
    text-align: center;
    font-size: 17px;
    color: rgb(75, 73, 73);
    margin-bottom: 15px;
}

.TextField {
    width: 60%;
}

hr {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .logo_box {
        width: 90%;
        padding: 20px;
        margin-bottom: 50px;

    }
  
    .btn, .next_btn {
        width: 100%;
        margin-left: 0;
    }
  
    .TextField {
        width: 80%;
    }
}
