.container{
    width:100vw;
    height: 10vh;
    background-color: rgb(29, 155, 240);
    margin-top:76vh;
}

.subcontainer{
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
}

.text{
    flex-direction: column;
    margin-top: 5px;

}
.text1{
    font-size: 25px;
    margin-top: 2px;
    margin-left: 85px;
    color:#fff;
    font-weight:bold
}
.text2{
    margin-top: -2px;
    margin-left: 85px;
    color:#fff;
}

button{
    width:6rem;
    height: 3rem;
    border-radius: 25px;
    margin-top: 10px;
    text-decoration: none;
    
}
button:hover{
    cursor: pointer;
    
}

.btn{
    background-color: rgb(29, 155, 240);
    border: 1px solid white;
    font-weight: bold;
    color:#fff;

}

.btn1{
    text-decoration: none;
   color:white;
}

.btn2{
    margin-left: 10px;
    background-color: #fff;
    border: none;
    font-weight: bold;
}

.btn3{
    text-decoration: none;
    color:black;
}

@media (max-width: 768px) {
    .container {
      height: auto;
    }
  
    .subcontainer {
      margin-left: 20px;
      flex-direction: column;
      align-items: center;
    }
  
    .text1 {
      margin-left: 0;
      text-align: center;
    }

    .text2{
        margin-left:0px;
    }
  
    .btn1 {
      margin-top: 10px;
    }
  
    .btn2 {
      margin-left: 0;
      margin-top: 10px;
    }

    button{
        margin-bottom: 10px;
    }
  }
