* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.logoBox {
    background: white;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.logoBox h2 {
    margin-bottom: 20px;

}

.logoBox button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: bold;
    font-size: 15px;
    /* color: grey; */
    cursor: pointer;

}

.googlelogo{
    margin-right: 10px;
}

.logoBox span {
    display: block;
    width: 40px;
    margin: auto;
    background: white;
    font-size: 18px;
    margin-top: -12px;
}

.logoBox p {
    font-size: 12px;
}

.lastLine{
    margin-top: 25px;
    
}

@media (max-width: 768px) {
    .logoBox {
      padding: 20px;
      width: 90%;
      max-width: 400px;
      margin-bottom: 50px;
    }
  }