* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: lightgray;
  }
  
  h1{
    margin-bottom: 20px;
  }

  .logobox {
    background: white;
    padding: 30px 120px;
    height: 78vh;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  @media (max-width: 768px) {
    .logobox {
      width: 90%;
      height: auto;
      padding: 30px;
    }
}
